boto3>=1.26.20,<2
Deltalake>=0.25.4,<1
polars>=1.9.0,<1.14.0
pyarrow>=17,<22
ipython>=8.5,<10
hatchling>=1.27,<2
pytest>=7,<9
pytest-cov>=4,<7
black>=23,<26
flake8>=6,<8
mypy>=1,<2
boto3-stubs>=1.39,<2
pyarrow-stubs>=20,<21
mkdocs==1.6.1
mkdocs-material==9.6.14
mkdocstrings==0.29.1
mkdocstrings-python>=1.7,<2
pymdown-extensions>=10,<11
